# Игнорировать файлы, созданные виртуальным окружением Python
venv/

# Игнорировать миграции Django
**/migrations/

# Игнорировать файлы логов Django
*.log

# Игнорировать файлы настроек секретного ключа Django
*.secret_key

# Игнорировать статические файлы Django (если они хранятся внутри проекта)
**/static/

# Игнорировать медиафайлы Django (если они хранятся внутри проекта)
**/media/

# Игнорировать файлы, созданные PyCharm
.idea/

# Игнорировать файлы настроек редакторов
*.swp
*.swo

# Игнорировать файлы настроек виртуальных окружений
*.pyc
__pycache__/

# Игнорировать файлы базы данных PostgreSQL
*.pgsql
*.sql